#animation{
	background: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	//-webkit-animation: key-bg 5s ease-in-out;
 
	& > div{
		top: 50%;
		left: 50%;
		margin-top: -50px;
		margin-left: -50px;
		position: absolute;
		text-indent: -9999px;
		width: 100px;
		height: 100px;
		background-size: 100px 100px;		
	}
	.blue{
		background: url('../img/blue.svg');
		z-index: 1;
		-webkit-animation: rotating-left 8s linear infinite;
	}
	.violet{
		background: url('../img/violet.svg');
		z-index: 2;
		-webkit-animation: rotating-right 6s linear infinite;
	}
	.green{
		background: url('../img/green.svg');
		z-index: 3;
		-webkit-animation: rotating-right 2s linear infinite;
	}
}


@-webkit-keyframes rotating-right {
	from{
	-webkit-transform: rotate(0deg);
	}
	to{
	-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes rotating-left {
	from{
	-webkit-transform: rotate(360deg);
	}
	to{
	-webkit-transform: rotate(0deg);
	}
}

 

@-webkit-keyframes key-bg
{
	0%   { display: block; }
	 90%{
	 	opacity: 1;
	 }
	100%  {
		opacity: 0  ;
	}
 
}
