@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Roboto+Condensed:300,400,700|Quicksand:300,400,500,700');


html{
    height: 100%;

}
body{
    font-family: $font-primary;
    color: $text-content;
    font-size: 1rem;
    font-weight: 500;
    height: 100%;
}
h1, h2, h3 {
    font-family: $font-primary;
    color: $text-heading;
} 
h1{
    font-size: 32px;
}
h2{
    font-size: 26px;
}
h3{
    font-size: 18px;
}
a, a:hover{
    text-decoration: none 
}

#nav{
    width: 300px;
    background: #4848ff;
    h1{
        color: #fff;
        font-size: 24px;
        margin-left: 15px;
        margin-right: 15px;
        span{
            i{
                font-size: 15px;
            }
        }
    }
    ul{
        list-style: none;
        margin:0;
        padding: 0;
        li{
            a{
                color: #fff;
                padding: 15px;
                font-size: 16px;
                font-weight: 500;
                display: block;
                &:hover{
                    background: rgba(255,255,255,0.3);
                }
            }
        }
    }
}
main{
    width: 100%
}
.main{
    min-height: 100%
}
.wrap{
    min-height: 100%;
        position: relative;
}
.breadcrumb {
    padding: .75rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0;
    width: 100%;

    li{
        display: inline-block;
    }

}
.block{
    border: 1px solid rgba(0,0,0,.125);
    padding: 15px;
    margin-bottom: 15px;
    background: #4848ff;

    &:last-child{
        margin-bottom: 0;
    }
}
.events{
    height: 100%;
    .events-year{
        background: #f3f3f3;
        padding: 15px;
    }
}
.help-block{
    color: brown
}
.control-label{
    width: 100%;
}
.card{
    .badge{
        cursor: pointer;
    }
}