// text
$text-content : #363636;
$text-heading : #363636;
$text-link : #363636;
$text-link-hover : #252525;

//color
$color-one: #00f685;
$color-two: #02beff ;
$color-three: #b500f6;
 

//font
$font-primary: 'Quicksand';
$font-secondary: 'Quicksand';

//panel
$panel-color: #fff;