.btn{
    border-radius: 30px;
    padding: 10px 40px;
    margin-top:15px;
    font-weight:700;
    transition:0s;
    &.btn-submit{
        border-radius: 5px; 
    } 
} 

.btn-outline-secondary{
    border-color:#fff;
    color:#fff;
    &:hover{
        color:#424242;
        background-color: #fff;
        border-color:#fff;
    }
}

.btn-danger{
    background-color: #d60000;
}

.btn-outline-success{
    color:#212121;
}

.btn-outline-black{
    border-color:#424242;
    color:#424242;
    &:hover{
        color:#fff;
        background-color: #424242;
    }
}

.btn-light{
    border-radius: 5px;
    padding:10px;
}

.btn-phone{
    padding-right:0px;
}





