.footer{
    padding:30px 0 45px 0;
    font-weight:400;
    p, li{
        font-size:14px;
    }
    .logo-bot{
        padding-top:45px;
    }
    .footer-combine{
        margin-bottom: 15px;
    }
    a:hover{
        opacity:0.5;
        color: #424242;
    }
}