// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
.margin-auto{
    margin:auto;
}

html{
    height: 100%;
}
body{
    font-family: $font-primary;
    font-weight:500;
}
main{
    overflow:hidden;
}
.no-padding {
    padding: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
} 
#{headings(1,6)} {
    font-family: $font-primary;
    font-weight:700;
}

section:not(.section-white), .quote{
    color:$color-one;
}
h2 {
    font-size:30px;
}

h3{
    font-size:24px;
    span{
        font-weight:400;
    }
}

h4{
    font-size: 18px;
}
p{
    font-size:14px;
}

a{
    color:inherit;
    &:hover{
        text-decoration: none;
    }
}


ul{
    list-style: none;
    padding:0px;
    margin:0px;
}

.wavy{
    position:relative;
    &:after{
        content: "";
        position: absolute;
        background-image:url('../img/wave.png');
        width:100%;
        height:30px;
        top: -30px;
        background-repeat: no-repeat;
        left: 0px;   
    }
}

.centered-row{
    align-items: center;
    justify-content: center;
}

.wall p, .slider p, .actual p, .gallery p, .groups p{
    font-weight:700;
}