.header{
    background-image:url('../img/header-bg.jpg');
    background-size: cover;
    padding: 0 0 20px 0;
    .bg-light{
        background-color:transparent !important;
    }
    .navbar{
        padding:0px;
        .navbar-collapse{
            justify-content: flex-end; 
            text-align:center;
            .navbar-nav{
                li{
                    font-weight:700;
                    a{
                        color:#000;
                        &:after{
                            border:none;  
                        }
                    }
                    &:hover{
                        a{
                            color:rgba(0,0,0,0.5);
                        }
                    }
                }
            }
        } 
        .navbar-brand{
            position: relative;
            top:-20px;
            transform: scale(1.2);
        }
        .dropdown-menu{
            padding:0px;
            box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
            left:1.7rem;
            a{
                font-weight:700;
                color:#000 !important;
            }
            .dropdown-item{
                    padding: .5rem 1.5rem .5rem 1rem;
                &:active, &:hover{
                    background-color: #ededed;
                }  
            }

        }
    }
    .navbar-light .navbar-toggler{
        border-color:#000;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left:1.7rem;
        padding-right:0px;
    }
} 