.icon{
    display: inline-block;
    @mixin icon-set($name,$width,$height){
        background: url('../img/ico/#{$name}.png') 0 0 no-repeat;
        width: $width;
        height: $height;
    }


    &.i-off{
        // name, width, height
        @include icon-set('button-off',13px,13px);
        position: relative;
        top:1px;
        margin-right:5px;
    }
     &.i-phone{
        // name, width, height
        @include icon-set('phone',16px,16px);
        position: relative;
        top:1px;
        margin-left:10px;
    }

&.i-home{
        // name, width, height
        @include icon-set('home',16px,16px);
        position: relative;
        top:3px;
    }
}