pre{
    position: fixed;
    width: 500px;
    background: #fff;
    border-radius: 5px;
    border: 5px solid rgba(0,0,0,0.3);
    margin-top: 100px;
    z-index: 99999999;
    top: 100px;
}

.quote{ 
    padding:50px 0;
    .quote-author{
        margin:20px 0 0 0;
        opacity:0.5;
    }
}
.slider{
    background-image:url('../img/green-bg.jpg');  
    background-size: cover;
    background-position: center;
    height: 375px;
    margin-bottom:30px;
    .carousel-inner{
        overflow:visible;
        .txt{
            padding-top:100px;
        }
        .image{
            position:relative;
            top:-10px;
            img{
                max-height: 400px;
            }
        }
    }

}

.actual{
    padding:50px 0;
    .item{
        @include standard-item;
        height:320px;     
        overflow:hidden;
        color:$color-one;
        margin:15px 0;
        h3{
            position: relative;
            margin-top: 200px;
            margin-left:25px;
            z-index: 1;
        }
        span{
            position: relative;
            margin-left:25px;
            z-index: 1;
        }
        > img{
            @include full-img;
        }
        a{
            @include full-a;
        }
        &:hover{
            transform:scale(1.05);
        }
        &:after{
            content: "";
            position: absolute;
            background-image:url('../img/shadow.png');
            width:100%;
            height:100%;
            top: 0px;
            background-repeat: no-repeat;
            left: 0px;
        }
    }
}


.wall{
    padding:100px 0;
    background-image:url('../img/kindgarten.png');
    background-repeat:no-repeat;
    background-position:-200px;
    transition:2s;
    .item{
        @include standard-item;
        border:2px solid #d7d7d7;
        margin-bottom: 15px;
        padding:20px;
        background-color: rgba(255,255,255,0.9);
        a{
            @include full-a;
        }
        &:hover{
            border-color:#00d859;
            background-color:#00d859;
            color:#fff;
            img{
                filter: brightness(800%);
            }
        }
        span{ 
            position: absolute;
            right: 20px;
            top: 20px;
        }
        img{ 
            position: absolute;
            right: 20px;
            bottom: 20px;
        }

    }
}

.groups{
    padding:70px 0;
    background-image:url('../img/group-bg.png');
    background-repeat:no-repeat;
    background-position:right;
    .item{
        @include standard-item;
        padding:20px;
        width:100%;
        border:2px solid #00aeef;
        text-align:center;
        background-color: rgba(255,255,255,0.7);
        margin:15px 0;
        img{
            margin-bottom: 25px;
            height: 60px;
        }
        a{
            @include full-a;
        }
        &:hover{
            background-color:#00aeef;
            color:#fff;
        }
    }
}

.gallery{
    padding:50px 0; 
    background-image:url('../img/blue-bg.jpg');
    .item{
        @include standard-item;
        height:260px;
        margin:0 auto 30px auto;
        overflow:hidden;
        &:hover{
            -webkit-box-shadow: 0px 0px 60px -10px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 60px -10px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 60px -10px rgba(0,0,0,0.5);
        }
        > img{
            @include full-img;
        }
        a{
            @include full-a;
        }
        &:hover{
            transform:scale(1.05);
        }
    }
}

.quote{
    background-image:url('../img/blue-bg2.jpg');
    background-size:cover;
}

.page-title{
    background-image:url('../img/green-bg.jpg');
    background-size: cover;
    padding:50px 0 15px 0; 
}

.contents{
    padding:45px 0;
    h3{
        margin-bottom: 20px;
    }
    .about{
        .maps{
            height:300px;
            margin-top:30px;
        }
    }
    .people{
        .single{
            padding:15px;
            border:2px solid #d7d7d7;
            border-radius:5px;
            margin-bottom:15px;
            .item{
                @include standard-item;
                height:150px;
                overflow:hidden;
                max-width:200px;
                > img{
                    @include full-img;
                }
                &:hover{

                }
            }
            .proffesion{
                color:#00aeef;
                font-weight:700;
                position:relative;
                top:-5px;
            }
            .group-list{
                color:$color-one;
                font-weight:700;
                padding:5px 20px;
                position:absolute;
                border-radius: 5px;
                right:15px;
                top:0px;
                font-size: 14px;
                background-color: #535353;
                &.group-1{
                    background-color:#00aeef;
                }
                &.group-2{
                    background-color: #fa3302;
                }
                &.group-3{
                    background-color: #00c853;
                }
                &.group-4{
                    background-color: #ff8f00;
                }
                &.group-4{
                    background-color: #ff8f00;
                }
            }
        }
    }
    .events{
        h2{
            margin-bottom: 30px;
        }
        .single{
            padding:15px;
            border:2px solid #d7d7d7;
            border-radius:5px;
            margin-bottom:15px;
            &:hover{
                background-color: #01c853;
                border-color:#01c853;
                p, span.date, span.id, h4{
                    color:#fff;
                }
            }
            p{
                margin-bottom: 0px;
            }
            span{
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                font-size:30px;
                font-weight:700;
                &.id{
                    color:#757575;
                }
                &.date{
                    color:#212121;
                }
            }

        }
    }
}

.side-menu{
    ul{
        position:relative !important;
        li{
            background-color:#e9e9e9;
            color:#212121; 
            font-weight:700;
            border-radius: 5px;
            margin-bottom: 15px;
            a{
                display: block;
                padding:20px;
            }
            &.active, &:hover{
                background-color:#00c853;
                a{
                    color:#fff;   
                }
            }
            &.disabled{
                cursor: auto;
                opacity:0.6;
                a{
                    pointer-events: none;
                }
                &:hover{
                    a{
                        color:#212121;  
                    }
                    background-color:#e9e9e9; 
                }
            }
            &.not-full{
                width:50%;
                text-align: center;
            }
        }
    }
}

/* dropdowns events */
.dropdowns-events{
    display: inline-block;
    position:initial;
    width:100%;
    .btn-dropdown-events{
        background-color: #00c853;
        color:#fff;
        padding: 15px 25px;
        border-radius: 5px;
        margin:0px 15px 10px 0;
        min-width:170px;
        display:none;
        &:hover{
            background-color: #00e35e;
        }
    }
    ul.dropdown-menu{
        transform: translate3d(0px, 0px, 0px) !important;
        width:100%; 
        text-align:center; 
        border: none;
        display:block;
        &.first{
            li{
                width: 47%;
                text-align: center;
            }
        }
        li{
            display: inline-block;
            width: 100%;
            text-align: left; 
            margin:7.5px 1%;
        }  
    }
}

.login-page{
    padding:80px 0;
    .login-content{
        background:#e6e6e6;
        padding:25px;
        input{
            display: block;
            margin:auto;
            margin-bottom: 25px;
            padding:20px;
            font-weight:700;
            width:100%;
            border-radius:5px; 
            border:none;
            &:focus{
                outline:none;
            }
        }
    }
}

.parent-head{
    background-color:#f2f2f2; 
    position:relative;
    height:170px;
    .first{
        height: 160px;
        position: relative;
        top: -25px;
        img{ 
            width: 100%
        }
    }
}

.parent-page{
    padding:45px 0;
    .infos{
        padding:20px;
        border-radius: 5px;
        margin-bottom: 25px;
        &.infos-primary{
            border:2px solid #00aeef;
        }
        &.infos-secondary{
            border:2px solid #d7d7d7;
        }
        h4{
            margin:15px 0 0 0;
        }
        img{
            height:70px;
            max-width:70px;
        }
        p{
            margin:0px;
        }
        span{
            font-size: 30px;
            font-weight:700;
        }
        strong{
            color:#757575;
        }
        .item{
            @include standard-item;
            height:70px;
            width: 70px;
            overflow:hidden;
            > img{
                @include full-img;
            }
            a{
                @include full-a;
            }
            &:hover{
                transform:scale(1.05);
            }
        }
    }
    
}
.gallery-parent{
        .item{
            @include standard-item;
            height:160px;
            margin-bottom:30px;
            overflow:hidden;
            > img{
                @include full-img;
            }
            a{
                @include full-a;
            }
            &:hover{
                transform:scale(1.05);
            }
        }
    }
.offer{
    padding:45px 0 10px 0;
    .table{
        border-radius:5px;
        position:relative;
        z-index:2;
        &:first-of-type{
            &:after{
                content: "";
                position: absolute;
                background-image:url('../img/child.png');
                width:100%;
                height:100%;
                top: -220px;
                background-repeat: no-repeat;
                right: -160px;
                background-position: top right;  
                z-index:-1;
            }

        }
        .single{
            padding:15px;
            &:nth-child(even) {
                background: #ededed;
            }
            &:nth-child(odd) {
                background: #e6e6e6;
            }
            p{
                margin:0px;
                span{
                    opacity: 0;
                }
            }
        }

    }
}