@media screen and (max-width: 1199px) {
    .header{
        .dropdown-menu{
            left:1.3rem;
        }
        .navbar-expand-lg .navbar-nav .nav-link{
            padding-left:1.3rem;
        }
    }
}

@media screen and (max-width: 991px) {


    .page-title{
        padding:35px 0 15px 0;
    }  
    .header{
        .navbar-nav{
            margin-top:20px; 
        }
        .navbar{
            .navbar-brand{
                position: relative;
                top:-15px;
                transform: scale(1);
            }
            .navbar-collapse .navbar-nav li{
                background-color:#e9e9e9;
                margin-bottom: 2px;
                &:hover{
                    background-color:#d9d9d9;
                    a{
                        color:#000;
                    }
                }
            }
        } 
    }
    .slider{
        height:auto;
        padding: 45px 0 25px;
        .carousel-inner .txt{
            padding-top:0px;
        }
        .wavy{
            &:after{
                background-position: center;
            }
        }
    }
    .wall{
        background-image:none;
        .side{
            margin-bottom: 30px;
        }   
    }
    .contents{
        .people{
            .single{
                .item{
                    margin-bottom: 15px; 
                }
                .group-list{
                    position: relative;
                    display: inline-block;
                    right:0px;
                    margin-bottom: 5px;
                }
                .proffesion{
                    display: block;
                }
            }
        }
        .events .single span{
            position: initial;
            &.date{
                margin-left:-30px;
            }
        }
    } 
    .parent-page{

        .infos{
            padding:15px;
            .item{
                margin: auto;
            }
        } 
        .gallery-parent .item{
            margin: 0 0 30px 0;
        }
    }
    .offer .table{
        .single{
            .row >div:nth-child(odd){
                font-weight:700;
            } 
        }
    } 
    .dropdowns-events ul.dropdown-menu.first li{
        width:46%;
    }
}
@media screen and (max-width: 767px) {
    .side-menu ul{
        position:absolute !important;
        li a{

        }
    } 

    .dropdowns-events{
        display: inline-block;
        .btn-dropdown-events{
            display:block;
        }
        ul.dropdown-menu{
            margin: 60px 0 0 15px;
            padding:7.5px;
            border: 1px solid rgba(0,0,0,0.15);
            display:none;
            width: calc(100% - 30px);
            &.show{
                display: block;
            }
            li{
                width: 47%;
            }  
        }
    }
    .btn-phone{
        padding-left:3px;
    }
    .header{
        .navbar{
            .navbar-brand{
                top:0px; 
                max-width:200px;
            }
        } 
    }
    .contents, .offer{
        padding:50px 0;
    }
    .wall .item span{
        position: initial;
    }
    .parent-head{
        height: auto;
        padding: 20px 0;
    }
    .parent-page .gallery-parent .item{
        margin:0 0 30px 0;
        height:250px;
    }
    .offer .table{
        &:first-of-type:after{
            display: none;
        }
    } 
}

@media screen and (max-width: 456px) {
    .dropdowns-events .btn-dropdown-events{
        margin: 0px 5px 10px 0;
        min-width:auto;
    }
    .side-menu ul li a{
        padding:15px 4px;
    }
}