// framework color
$primary-color:     #515151;
$secondary-color:   #515151;
$success-color:     #515151;
$danger-color:       #c60000;
$default-color:        #515151;

// text

$text-content : #032157;
$text-heading : #032157;

$color-one : #fff;
$color-two : #424242;

$text-link : #032157;
$text-link-hover : #ffd800;






//font
$font-primary: 'Quicksand', sans-serif;

@mixin full-a{
    position: absolute;
    width:100%;
    height:100%; 
    top:0px;
    left:0px; 
    z-index: 2;
}

@mixin full-img{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin standard-item{
    position: relative;
    border-radius: 5px;
}
